<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-3 col-3 text-left"><button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                class="fa fa-plus"></i></button> Add New Customer</div>
        </div>
        <app-search-bar [Title]="'Search'"   (messageToEmit)="getMessage($event)"> </app-search-bar>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                City
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of entities">
                <td>
                  {{item.name}}
                <td [class.example] = "item.city === 'Obregon'">
                  {{item.city}}
                </td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>