<h4 class="card-title">{{Title}}</h4>
<div class="row">
  <div class="col-md-2 pr-1">
    <div class="form-group">
      <label>Name</label>
      <input  [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="Jhon" value="">
    </div>
  </div>
  <div class="col-md-2 pr-1">
    <div class="form-group">
      <label>Last Name</label>
      <input [(ngModel)]="last_name" name="last_name"  type="text" class="form-control" placeholder="Smith" value="">
    </div>
  </div>
  <div class="col-md-2 pr-1">
    <div class="form-group">
      <label>Phone</label>
      <input [(ngModel)]="phone" name="phone" type="text" class="form-control" placeholder="(520)445-2088" value="">
    </div>
  </div>

  <div class="col-md-2 pr-1">
    <div class="from-group">
      <div class="update ml-auto mr-auto pt-3">
        <button type="submit" class="btn btn-primary" (click)="sendMessageToParent()" >Submit</button>
      </div>
    </div>
  </div>
</div>