<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card card-user">
      <div class="image">
        <img src="https://cdn.pixabay.com/photo/2016/10/09/08/32/digital-marketing-1725340_960_720.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray"
              src="https://cdn.pixabay.com/photo/2016/12/26/18/33/logo-1932539_960_720.png" alt="...">
            <h5 class="title">Insurance Login</h5>
          </a>

        </div>
        <div class="card-footer">
          <hr>
          <div class="button-container">
            <div class="row">
              <div class="col-md-8        mx-auto">
                <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()" novalidate>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username"
                          formControlName="username">

                        <div *ngIf="getControl.username.touched && getControl.username.invalid" class="text-danger">
                          <div *ngIf="getControl.username.errors.required">Username is required.</div>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="******"
                          formControlName="password">

                        <div *ngIf="getControl.password.touched && getControl.password.invalid" class="text-danger">
                          <div *ngIf="getControl.password.errors.required">Password is required.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>