<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Personal Information</h4>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group"><label>First Name</label><input type="text"
                                        placeholder="Company" value="Chet" class="form-control"></div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group"><label>Last Name</label><input type="text"
                                        placeholder="Last Name" value="Faker" class="form-control"></div>
                            </div>
                            <div class="col-md-3 pr-1">
                                <div class="form-group"><label>Phone</label><input type="text" placeholder="Username"
                                        value="michael23" class="form-control"></div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group"><label for="exampleInputEmail1">Email
                                        address</label><input type="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group"><label for="exampleInputEmail1">Birth Date
                                    </label><input type="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"><label>Address</label><input type="text"
                                        placeholder="Home Address" value="Melbourne, Australia" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group"><label>State / City</label>
                                    <select  placeholder="City"  class="form-control">
                                        <option *ngFor="let item of data"> {{item.state}} {{item.city}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-4 pl-1">
                                <div class="form-group"><label>Postal Code</label><input type="number"
                                        placeholder="ZIP Code" class="form-control"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto"><button type="submit"
                                    class="btn btn-primary ">Next</button></div>
                        </div>
                    </form>

                    <h4 class="card-title">Policy Information</h4>

                    <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-5 pr-1">
                                <div class="form-group"><label>Company</label><input type="text" disabled=""
                                        placeholder="Company" value="Creative Code Inc." class="form-control"></div>
                            </div>

                            <div class="col-md-5 pr-1">
                                <div class="form-group"><label>Dealer</label><input type="text" disabled=""
                                        placeholder="Company" value="Creative Code Inc." class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group"><label>Seller Name</label><input type="text"
                                        placeholder="Company" value="Chet" class="form-control"></div>
                            </div>

                            <div class="col-md-5 pr-1">
                                <div class="form-group"><label>Delivery</label><input type="text" disabled=""
                                        placeholder="Company" value="Creative Code Inc." class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group"><label>Policy Number</label><input type="text"
                                        placeholder="Company" value="Chet" class="form-control"></div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group"><label> Policy Type</label><input type="text"
                                        placeholder="Last Name" value="Faker" class="form-control"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group"><label>Effective Date </label><input type="text"
                                        placeholder="City" value="Melbourne" class="form-control"></div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group"><label>Cancel Date</label><input type="text"
                                        placeholder="Country" value="Australia" class="form-control"></div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group"><label>Due Date</label><input type="number"
                                        placeholder="ZIP Code" class="form-control"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto"><button type="submit"
                                    class="btn btn-primary ">Next</button></div>
                        </div>
                    </form>


                    <h4 class="card-title">Payment Information</h4>

                    <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                        <div class="row">
                            <div class="col-md-2 pr-1">
                                <div class="form-group"><label>Insurance Amount </label><input type="text"
                                        placeholder="City" value="Melbourne" class="form-control"></div>
                            </div>
                            <div class="col-md-2 px-1">
                                <div class="form-group"><label>Office Amount</label><input type="text"
                                        placeholder="Country" value="Australia" class="form-control"></div>
                            </div>
                            <div class="col-md-2 pl-1">
                                <div class="form-group"><label>Dealer Amount</label><input type="number"
                                        placeholder="ZIP Code" class="form-control"></div>
                            </div>

                            <div class="col-md-2 pl-1">
                                <div class="form-group"><label>Total </label><input type="number" placeholder="ZIP Code"
                                        class="form-control"></div>
                            </div>

                            <div class="col-md-2 pl-1">
                                <div class="form-group"><label>Change </label><input type="number"
                                        placeholder="ZIP Code" class="form-control"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="update ml-auto mr-auto"><button type="submit"
                                    class="btn btn-primary ">Next</button></div>
                        </div>
                    </form>

                </div>


            </div>
        </div>
    </div>
</div>